<%= form_with(model: [ @folder, @item ], local: true) do |form| %>
  
  <div class="field">
  
    <%= label_tag :your_file %>
    <%= file_field_tag :attachment, id: :item_attachment %>
   
  <div class="actions">
    <%= submit_tag "Upload" %>
  </div>

<% end %>