<%= form_with(model: [ @folder, @item ], local: true) do |form| %>

  <div class="field">
    <%= form.label :your_file %>
    <%= form.file_field :attachment, id: :item_attachment %>

  <div class="actions">
    <%= form.submit %>
  </div>
<% end %>