<p id="notice"><%= notice %></p>

<p>
  <strong>File:</strong>
  <%= url_for(@item.attachment) if @item.attachment.attached? %>
</p>

<%= link_to 'Edit', edit_folder_item_path(@folder, @item) %> |
<%= link_to 'Back', folder_path(@folder) %>