    <section id="upload" class="section">
    <%= form_with(model: @sample_upload, url: [ @sample_folder, @sample_upload ], local: true, multipart: true) do |form| %>
     <div class="form-group">
      <div class="field">  
      <%= label_tag :attachment %>
      <%= form.file_field :singleupload %>
      </div>
      <div class="action">
         <%= form.submit 'Upload', class: 'upload-primary-btn' %>
      </div>
    </div>
      <% end %>
    </section>

