<h1>Your Files </h1>

<table data-toggle="table" width="100%" border="0" cellspacing="0" cellpadding="0" style="font-family: 'Mark' ">
 <thead style="background-color: none; font-family: 'Mark Pro'; font-size: 11px">
  <tr class="text gray">
   <th>File</th>
   <th>URL</th>
   <th data-sortable="true">Uploaded at</th>
   <th>Size</th>
  </tr>
 </thead>
                                                                                                                                                                                                                                                                                                                                                                                                                                                                     
 <tbody>
  <% @sample_uploads.each do |sample_upload| %>
   <tr>
   
    <td><%=url_for(sample_upload)  %></td>
    <td><%= sample_upload.created_at  %></td>
 

   </tr>   
  <% end %>
 </tbody>
</table>